<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AwkTurt2.Turtle" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <AwkTurt2.Turtle>
            <setting name="JerichoTurtle" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HelenTurtle" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="JerichoCookie" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HelenCookie" serializeAs="String">
                <value>0</value>
            </setting>
        </AwkTurt2.Turtle>
    </userSettings>
</configuration>